.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root{
  --primary-white:#fff;
  --primary-orange:#f9ab00;
  --primary-red: #ff0000;
  --primary-dark: rgba(255,255,255,0);
}

body{
  font-family: "Roboto slab", sans-serif;
}
/**********navbar**********/
nav{
  z-index: 2;
}
.logo {
  width: 2.25rem;
}
 
/*****links****/

nav a.nav-link  {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
  
}

.navbar-nav >li > a{
  color: var(--primary-white) !important;
  margin-right: 0.74rem;
  margin-left: 0.74rem;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand{
  max-width: 6rem;
  height: 3rem !important;
  padding: 0 !important;
}

.navbar-nav > li > a.active, .navbar-nav >li> a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav> li> a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

/*****header*****/

.header-wraper{
  position: relative;
  background: url(code1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info{
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto slab", sans-serif;
}

.main-info h1{
  color: var(--primary-white);
  text-transform: uppercase;
}

/********typed****/
.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
}

.btn-main-offer{
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin-top: 2rem;
  z-index: 2;
}

.btn-main-offer:hover{
  text-decoration: none;
  background-color: var(--primary-red);
  color: var(--primary-white);
  transition: 0.3s ease-in-out;
}

/******particle-js********/

.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}